/*add font to file */
@font-face{
	font-family: Square;
	src: url(square-721-extended-bt.ttf);
}
/*tag edits*/
body{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #0090ff;
	background-color: #006eb7;
	/*
	background-image: url("/home/aero/Desktop/aerolab-website/images/sky-sunny-clouds-cloudy.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	*/
}
main{
	overflow: hidden;
}

/* id edits
   header
*/
#header{
	display: block;
	height: 40px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
#home-logo{
	float:left;
	height: 100%;
	width: 225px;
}
#aerolab-logo{
 margin: 8px;
 height: 24px;
 opacity: 1.0;
}
#header-navigation {
	float: right;
	margin: 10px 35px;
}
#header-navigation a{
	margin-right: 20px;
	padding-bottom: 9px;
	color: white;
	opacity: 1.0;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}
#header-navigation a:hover{
	/*color: #00aeff;*/
	color: #ffaa00;
	border-bottom: 2px solid #ffaa00
}
#navlink-icon{
	border-bottom: 2px solid white;
}

/* styles of divs in index.html main */
#welcome{
	display: block;
	width: 100%;
	margin: 100px auto;
}
#title-logo{
	height: 75px;
	padding: 5px;
}
#flight-info{
	height: 450px;
	width: 100%;
	background-image: url("/home/aero/Desktop/aerolab-website/images/f22raptors.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* class edits */
.page-filler{
	display: block;
	height: 1000px;
	width: 85%;
	margin: 50px auto;
	/*background-color: rgba(255, 255, 255, .75);*/
	text-align: center;
	overflow: hidden;
}
