/*add font to file */
@font-face{
	font-family: Square;
	src: url(square-721-extended-bt.ttf);
}
/*tag edits*/
body{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #0090ff;
	background-color: #006eb7;
	/*
	background-image: url("../images/sky.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	*/

}
main{
	overflow: hidden;
}

/* id edits
   header
*/
#header{
	display: block;
	height: 40px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
#home-logo{
	float:left;
	height: 100%;
	width: 225px;
}
#aerolab-logo{
 margin: 8px;
 height: 24px;
 opacity: 1.0;
}
#header-navigation {
	float: right;
	margin: 10px 35px;
}
#header-navigation a{
	margin-right: 20px;
	padding-bottom: 9px;
	color: white;
	opacity: 1.0;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}
#header-navigation a:hover{
	/*color: #00aeff;*/
	color: #ffaa00;
	border-bottom: 2px solid #ffaa00
}
#navlink-icon{
	border-bottom: 2px solid white;
}

/* styles of divs in index.html main */
#welcome{
	display: block;
	width: 100%;
	margin: 100px auto;
}
#title-logo{
	height: 75px;
	padding: 5px;
}
#home-picture{
	height: 600px;
	margin-right: auto;
	margin-left: auto;
}
#mtn-canvas{
	width: 100%;
}
#mountain-range{
	background-color: #006eb7;
}
#flight-info{
	height: 512px;
	width: 100%;
	background-image: url("../images/f22raptors.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#flight-title{
	display: block;
	height: 50px;
	width: 50%;
	margin: 0px auto;
	padding: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 36px;
	text-align: center;
}
#school-info{
	display: block;
	background-color: rgba(219, 219, 219, 0.75);
	height: 262px;
	width: 55%;
	margin: 0px auto 50px auto;
	padding: 25px 0px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 24pt;
	text-align: center;
	overflow: hidden;
}
#aggie-air{
	width: 50%;
	float: left;
}
#flight-school{
	width: 50%;
	float: right;
}

/* class edits */
.page-filler{
	display: block;
	height: 1000px;
	width: 85%;
	margin: 50px auto;
	background-color: rgba(255, 255, 255, .75);
	text-align: center;
	overflow: hidden;
}
.learn-more{
	margin: 0px auto;
	padding-top: 20px;
}
.learn-more button:hover{
	background-color: #006eb7;
	box-shadow: 2px 2px 2px #888888;
}
.learn-more-btn{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size: 14pt;
	background-color: #2d7eff;
	outline: none;
	border: solid;
	border-radius: 5px;
	border-color: rgba(255,255,255,0.0);
	height: 50px;
	width: 150px;
}
